.list{
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 4px; 
    background-color: rgba(191, 183, 183, 0.291); 
    &__title{
        text-align: center;
        margin: 0 0 1rem;
        

    }

}
